.sidebar{
    background-color: rgb(255, 255, 255);
    color: white;
    position: fixed;
    top: 55px;
    left: 0;
    bottom: 0;
    width: 180px;
    border-right-width: 1px;
    border-right-style: solid;
    border-right-color: gray;
    z-index: 11;
}

.sidebar-item{
    display: flex;
    align-items: center;
    gap: 15px;
    margin-top: 20px;
    height: 30px;
    font-family: 'Times New Roman', Times, serif;
}

.sidebar-item img{
    height: 25px;
    padding-left: 20px;
    
}

.sidebar-item div{
    color: black;
    font-size: 13p
}

.sidebar-item:hover{
    background-color: rgb(240, 210, 210);
}